@import './scss/colors.scss';
@import './scss/variable.scss';
@import './scss/fonts/fonts.scss';
@import './scss/general.scss';
@import './scss/sections.scss';
@import './scss/popup.scss';
@import './scss/pages/login.scss';
@import './scss/pages/profile.scss';