.section {
  &-home {
    .header {
      width: 100%;
      position: relative;
      padding: 16px 20px;
      padding-bottom: 120px;
      // display: grid;
      // grid-template-columns: 160px 60px;
      // grid-column-gap: 91px;
      background-image: linear-gradient(315deg, #303C6F 0%, #222E61 30%);

      .title {
        font-size: 24px;
        font-family: 'BrandonText-Bold';
        letter-spacing: 0.48px;
        color: white;
      }
      .profile {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-column-gap: 16px;
        .photo {
          width: 48px;
          height: 48px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 100%;
        }
        .btn-menu {
          background-color: transparent;
          img {
            width: 16px;
            pointer-events: none;
          }
        }
      }
    }
    .body {
      position: relative;
      color: #333333;
      background-color: #FF444E;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: auto;
      top: -100px;
      min-width: 250px;
      max-width: 665px;
      margin: 0 auto;
      padding: 12px;
      &:nth-child(3n+1) {
        background-color: #3399FF;
      }
      &:nth-child(3n+2) {
        background-color: #fcaf45;
      }
      &:nth-child(3n+3) {
        background-color: #FF444E;
      }
      &:not(:first-child) {
        margin-top: 30px;
      }
      .input-container {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        background-color: yellow;
      }
      .title {
        font-family: 'BrandonText-Medium';
        font-size: 20px;
        letter-spacing: 0.38px;
        margin-bottom: 8px;
        display: inline-flex;
        .circle {
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
      .action {
        position: absolute;
        right: 2%;
      }
      .desc {
        font-family: 'BrandonText-Medium';
        width: 100%;
        display: flex;
        font-size: 13px;
        // margin-bottom: 16px;
      }
      .info {
        width: 100%;
        display: flex;
        button {
          font-family: 'BrandonText-Medium';
          border: none;
          outline: none;
          background: none;
          color: white;
          font-size: 1rem;
          font-weight: 400;
          flex-direction: row;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }

    @media only screen and (max-width: 335px) {
      .body{
        max-width: 335px;
        margin: 0 20px;
      }
      h1 {
        font-size: 5.5vw;
      }
      h2 {
        font-size: 3.0vh;
      }
      h3 {
        font-size: 2.5vh;
      }
    }

    @media only screen and (max-width: 767px) {
      .body{
        margin: 0 20px;
      }
      h1 {
        font-size: 5.5vw;
      }
      h2 {
        font-size: 2.5vh;
      }
      h3 {
        font-size: 2.0vh;
      }
    }

  }
}
